<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="DB" connectionString="server=192.168.0.4;port=1433;Uid=sa;Pwd=ckdghks1234;database=Shin" />
	</connectionStrings>-->
	<connectionStrings>
		<add name="DB" connectionString="Server=10.50.0.251,10001;Database=AssetManager;User Id=sa;Password=6230;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>